#!/bin/bash
set -euo pipefail

command -v curl >/dev/null

curl -fsSL https://kanshi.dev/install.sh |
  KANSHI_VERSION="${agent_version}" \
  KANSHI_CORE_ADDR="${kanshi_server_private_ip}:50051" \
  KANSHI_API_KEY="${api_key}" \
  sh -s -- --systemd
