#!/bin/bash
set -euxo pipefail

if command -v apt-get >/dev/null; then
  apt-get update
  apt-get install -y curl
elif command -v dnf >/dev/null; then
  dnf install -y curl
else
  yum install -y curl
fi

curl -fsSL https://kanshi.dev/install.sh |
  KANSHI_VERSION="${agent_version}" \
  KANSHI_CORE_ADDR="${kanshi_server_private_ip}:50051" \
  KANSHI_API_KEY="${api_key}" \
  sh -s -- --systemd
